.site{
    position: absolute;
    background-color: #f2f2f2;
    top: 10%;
    width: 90%;
    height: 80%;
    right: 5%;
    left: 5%;

    border-radius: 24px 24px 24px;
    box-shadow: 2px 2px 2px black;
}

.textbox_site{
    margin: 5%;
}
